$primary-color: rgb(101, 1, 167);
$welcome-title-color: rgb(0,0,0);
$welcome-subtitle-color: rgb(0,0,0);
$secondary-color: rgb(228, 138, 65);
$terciary-color: rgb(79, 230, 217);
$project-background-color: rgb(13, 11, 105);
$project-title-color: rgb(255,255,255);
$project-card-background-color: rgb(195, 95, 241);
$project-card-title-color: rgb(0,0,0); 
