$primary-color: rgb(167, 1, 117);
$welcome-title-color: white;
$welcome-subtitle-color: rgb(182, 12, 173);
$secondary-color: rgb(0,0,0);
$terciary-color: rgb(235, 107, 166);
$project-title-color: rgb(0,0,0);
$project-background-color: rgb(4, 199, 248);
$project-card-background-color: rgba(3, 3, 3, 0.548);
$project-card-title-color: rgb(255, 255, 255);
