$primary-color: rgb(0, 247, 255);
$secondary-color: rgb(3, 158, 86);
$font-color: rgb(161, 79, 11);

*{
    box-sizing: border-box;
}
#main{
    // margin: 10px;
    background-color: $primary-color;
    color: $font-color;
}

#title{
    text-align:center;
    margin: 10px 0 0 0;
}


#img-div{
    width: 50%;
    text-align:center;
    display:flex;
    flex-direction: column;
    margin: 0 auto;
}